@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-slate-50 text-slate-800;
  }
}

@media print {
  body * {
    visibility: hidden;
  }
  .printable-bill, .printable-bill * {
    visibility: visible;
  }
  .printable-bill {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
  }
  .no-print {
    display: none !important;
  }
}
